[submodule "puppet-modules/yum"]
	path = puppet-modules/yum
	url = git://github.com/example42/puppet-yum.git
[submodule "puppet-modules/rvm"]
	path = puppet-modules/rvm
	url = git://github.com/example42/puppet-rvm.git	
[submodule "puppet-modules/puppi"]
	path = puppet-modules/puppi
	url = git://github.com/example42/puppi.git
[submodule "puppet-modules/concat"]
	path = puppet-modules/concat
	url = git://github.com/example42/pupmod-concat.git
[submodule "puppet-modules/mysql"]
	path = puppet-modules/mysql
	url = git://github.com/example42/puppet-mysql.git
[submodule "puppet-modules/nginx"]
	path = puppet-modules/nginx
	url = git://github.com/example42/puppet-nginx.git
